<body>
    <div class="container">
        <div class="row" >
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="640" height="480" style="border:1px solid">
            </div>
        </div>
        <form style="align-content: center;">
            <button name = "close button" type = "button" onclick="{{ url_for('stop_cam') }}">Close Camera </button>
            <button name = "start button" type = "button">Start Camera</button>
         </form>
    </div>
    </button>
    </body>